<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../../partials/_head'); %>
	</head>

	<body>
		<main>
			<div class="auth-container">
				<h1>Sign Up to <span class="highlight">Socionus</span></h1>

				<form action="/signup" method="POST">
					<div class="form-group">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							autofocus
						/>

						<% if (errors) { %> <% errors.forEach((error) => { %> <%
						if (error.param == 'username') { %>
						<p class="msg-error"><%= error.msg %></p>
						<% } %> <% }) %> <% } %>
					</div>

					<div class="form-group">
						<label for="email">Email Address</label>
						<input type="email" name="email" id="email" />

						<% if (errors) { %> <% errors.forEach((error) => { %> <%
						if (error.param == 'email') { %>
						<p class="msg-error"><%= error.msg %></p>
						<% } %> <% }) %> <% } %>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" />

						<% if (errors) { %> <% errors.forEach((error) => { %> <%
						if (error.param == 'password') { %>
						<p class="msg-error"><%= error.msg %></p>
						<% } %> <% }) %> <% } %>
					</div>

					<div class="form-group">
						<label for="password_repeat">Repeat Password</label>
						<input
							type="password"
							name="password_repeat"
							id="password_repeat"
						/>

						<% if (errors) { %> <% errors.forEach((error) => { %> <%
						if (error.param == 'password_repeat') { %>
						<p class="msg-error"><%= error.msg %></p>
						<% } %> <% }) %> <% } %>
					</div>

					<div class="form-group">
						<button type="submit">Sign Up</button>
					</div>
				</form>

				<p>Already have an account? <a href="/signin">Sign In</a></p>
			</div>
		</main>
	</body>
</html>
